
{% load widget_tweaks %}
{% load static %}
{% load filtertags %}

<head>

    <title>
        Подбор сотрудников {{ block.super }}
    </title>
</head>
<body>
<!-- Main Sidebar Container -->
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            <form action="" method="post">
                {% csrf_token %}

                <div class="fixed-table-toolbar">
                    <div class="float-right search btn-group">
                        <input class="form-control search-input" id="mySearch" type="search" placeholder="Search"
                               autocomplete="off">
                    </div>


                    <table id="datatable" class="table table-bordered table-hover" data-page-length='9'>
                        <thead class="thead-light">
                        <tr>
                            <th>S/N</th>
                            <th>Сотрудник</th>
                            <th>Должность</th>
                            <th>График</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for rowdata in init %}
                            <tr class='clickable-row'
                                onclick="set_pes('{{ rowdata.person_guid }}', '{{ rowdata.person_guid__full_name }}');">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ rowdata.person_guid__full_name }}</td>
                                <td>{{ rowdata.position_guid__full_name }}</td>
                                <td>{{ rowdata.shedule_guid__full_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </section>
</div>

<script>
    (function ($) {
        $('.clickable-row').css('cursor', 'pointer');
        $(".clickable-row").click(function () {
        });
    })(jQuery)


$(document).ready(function(){
  $("#mySearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datatable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
</body>
