{% extends 'base.html' %}
{% load static %}
{% load l10n %}


{% block title %}
    {% localize on %}
        Пересечение Я-РВ, РВ-РВ, ОТ-РВ, ОЖ-РВ, Р-РВ, К-РВ, ДО-РВ: {{ dts_begin }} - {{ dts_end }}{{ block.super }}
    {% endlocalize %}

{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-auto">
                <label for="dts_begin">Периода с: </label><input type="date" name="dts_begin" required="" id="dts_begin"
                                                                 value={{ dts_begin }}>
                <label for="dts_end"> по: </label><input type="date" name="dts_end" required="" id="dts_end"
                                                         value={{ dts_end }}>
                <input type="submit" class="btn btn-success" value="Сформировать" name="close_table">
            </div>
            <div class="col-auto">
                <a id="exp" type="button" class="btn btn-outline-primary">Сохранить в Excel</a>
            </div>
        </div>

        <table border="1" id="datatable" class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th>Период</th>
                <th>Сотрудник</th>
                <th>Подразделение</th>
                <th>Код занятости</th>
                <th>Подразделение</th>
                <th>Код занятости</th>
                <th>Служебная записка</th>
            </tr>
            </thead>
            <tbody>

            {% for rowdata in init %}
                <tr  {% if rowdata.service_note %} class="checkbox-row" {% endif %}>
                    <td>{{ rowdata.dts }}</td>
                    <td>{{ rowdata.person_name }}</td>
                    <td>{{ rowdata.e1n }}</td>
                    <td>{{ rowdata.bk1n }}</td>
                    <td>{{ rowdata.e2n }}</td>
                    <td>{{ rowdata.bk2n }}</td>
                    <td><input class="checkbox-row" type="checkbox" disabled
                            {% if rowdata.service_note %} checked {% endif %}></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>
    <style>
        .checkbox-row {
            background: forestgreen;
        }
    </style>
    {% block morejs %}
        <script>

         $(document).ready(function () {
                preview_excel('exp', 'datatable', 'cowork_no_shows');
            });
        </script>
    {% endblock morejs %}
{% endblock %}

